<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="additional_files/decoration.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&effect=neon|outline|emboss|shadow-multiple">
</head>
<body>
        <!-- Navbar Start -->
        <div class="container-fluid position-relative nav-bar p-0">
            <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
                <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav ml-auto py-0">
                            <a href="/" class="nav-item nav-link">Home</a>
                            <a href="/order" class="nav-item nav-link">Order</a>
                            <a href="/trackorder" class="nav-item nav-link">Track Order</a>
                        </div>
                            <h1 class="m-0 display-4 text-primary"><span class="text-secondary">W</span>endy's</h1>
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/pastSales" class="nav-item nav-link">Past Sales</a> 
                            <a href="/story" class="nav-item nav-link">Story</a>
                             <a href="/jobs" class="nav-item nav-link">Find Jobs</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->
        <h1 class="m-0 display-4 text-primary"><span class="text-secondary">O</span>rder Confirmation</h1>
        <h2 class="font-effect-shadow-multiple">Your order has been placed successfully!</h2>
        <div>
            <strong>Name: </strong><%- name %><br>
            <strong>Email Address: </strong><%- email %><br>
            <strong>Phone Number: </strong><%- phone %><br>
            <strong>Delivery Method: </strong><%- delivery %><br>
            <h2 class="font-effect-shadow-multiple">Order</h2>
            <table class="menu">
                <%- orderTable %>
            </table>
            <table class="menu">
                <%- orderTableTopping %>
            </table>
            <br>
                <%- chosenQuote %>
            <strong>Additional Information: </strong><%- info %><br>
            <strong>Total Cost:</strong> <%- totalCost %> (USD)<br>
        </div>
    </div>
    <div style="text-align:center">
        <a href="/" class="link">HOME</a>
    </div>
    <div>
        <hr>
        <p> Developed by: Wenyu Chen and Shilin Huang</p>
        <hr>
        </div>
</body>