<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Track Result</title>
    <link rel="stylesheet" href="additional_files/decoration.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&effect=neon|outline|emboss|shadow-multiple">
<body>
    <!-- TODO Nav-->
    <div>
        <h1 class="font-effect-neon" id="larger-heading">Order Information</h1>
        <div>
            <strong>Name: </strong><%- name %><br>
            <strong>Email Address: </strong><%- email %><br>
            <strong>Delivery Method: </strong><%- delivery %><br>
            <h3>Order</h3>
            <%- orderTable %>
            <br>
            <strong>Tips: </strong><%- tips %><br>
            <strong>Additional Information: </strong><%- info %><br>
        </div>
    </div>
    <div>
        <a href="/">HOME</a>
    </div>
    <div>
        <hr>
        <p> Developed by: Wenyu Chen and Shilin Huang</p>
        <hr>
        </div>
</body>